# Local resources
papers/
data/

# Virtual Environment
.venv/

# Python
__pycache__/
*.so
*/.pytest_cache
*/py.typed

# Makefiles
*/build/

# Misc
.vscode/
Logs/
.cph/
full_en_term_df_cache.pkl

# x3 nuzzles pounces on u UwU u so warm
CLAUDE.md
.claude/
initialization.md

# Duckdb Cache
.tmp/